<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Curer</title>
    {{{_sections.head}}}
    <meta name="viewport" value="width=device width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header><img src="/images/logo.jpg" alt='curer logo' style="width: 100px;height: 100px;"></header>
    <div class="container" id="container">
        {{{body}}}
    </div>
    <hr>
    <footer>
        <p>&copy; Meadowlark Travel 2014</p>
    </footer>
    {{{_sections.jquery}}}
</body>
</html>